In [78]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [81]:
df = pd.read_csv("retail_clv.csv", low_memory=False)

In [82]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 39009 entries, 0 to 39008
Data columns (total 23 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   transaction_id       39009 non-null  object
 1   transaction_date     39009 non-null  object
 2   customer_id          39009 non-null  int64
 3   first_name           39009 non-null  object
 4   customer_phone       39009 non-null  object
 5   store_id             39009 non-null  int64
 6   store_name           39009 non-null  object
 7   store_city           39009 non-null  object
 8   store_region         39009 non-null  object
 9   store_opening_date   39009 non-null  object
 10  product_id           39009 non-null  int64
 11  product_name         39009 non-null  object
 12  product_category     39009 non-null  object
 13  unit_price           39009 non-null  float64
 14  quantity             39009 non-null  int64
 15  lineitem_amount      39009 non-null  float64
 16  current_stock_level  39009 non-null  object
 17  promotion_id         39009 non-null  int64
 18  discount_percentage  39009 non-null  object
 19  bonus_points         39009 non-null  object
 20  loyalty_status       39009 non-null  object
 21  customer_since       39009 non-null  object
 22  data_quality_flag    39009 non-null  bool
dtypes: bool(1), float64(2), int64(5), object(15)
memory usage: 6.6+ MB

In [83]:
df.describe()

,customer_id,store_id,product_id,unit_price,quantity,lineitem_amount,promotion_id
count,39009.00,39009.00,39009.00,39009.00,39009.00,39009.00,39009.00
mean,3002.29,14.94,100.16,425.80,2.50,1061.46,10.02
std,1731.87,8.36,57.48,216.58,1.12,759.72,5.47
min,1.00,1.00,1.00,50.01,1.00,50.01,1.00
25%,1504.00,8.00,50.00,238.74,1.00,458.49,5.00
50%,3001.00,15.00,101.00,423.95,3.00,824.36,10.00
75%,4503.00,22.00,150.00,614.60,3.00,1517.94,15.00
max,6000.00,29.00,199.00,800.00,4.00,3199.76,19.00

In [229]:
df.head(10)

,transaction_id,transaction_date,customer_id,first_name,customer_phone,store_id,store_name,store_city,store_region,store_opening_date,product_id,product_name,product_category,unit_price,quantity,lineitem_amount,current_stock_level,promotion_id,discount_percentage,bonus_points,loyalty_status,customer_since,data_quality_flag,datatype_valid,discount_percentage_num,bonus_points_num
0,TXN1,6/18/2025,1,Shanaya,183107617,4,Store_20,Kalyan-Dombivli,West,12/12/2017,104,Placeat,Beauty,634.94,1,634.94,185,15,20,0,Silver,7/3/2021,True,True,20.00,0
1,TXN2,6/26/2025,1,Kaira,183107617,9,Store_8,Gulbarga,East,5/23/2019,69,Iste,Electronics,364.53,3,1093.59,895,8,5,0,Gold,10/11/2022,True,True,5.00,0
2,TXN3,9/15/2025,1,Miraya,183107617,13,Store_6,Kirari Suleman Nagar,North,4/7/2017,153,Quod,Electronics,732.20,3,2196.60,763,1,15,0,Silver,12/10/2023,True,True,15.00,0
3,TXN4,10/27/2025,1,Eva,183107617,15,Store_10,Bhavnagar,West,2/22/2016,196,Enim,Electronics,643.07,3,1929.21,851,17,10,0,Bronze,11/2/2020,True,True,10.00,0
4,TXN5,11/21/2025,1,Ivan,183107617,13,Store_29,Meerut,North,4/2/2023,72,Autem,Grocery,411.98,3,1235.94,745,4,5,50,Bronze,9/3/2024,True,True,5.00,50
5,TXN6,8/14/2025,1,Faiyaz,183107617,5,Store_4,Eluru,South,2/3/2020,68,Enim,Home,157.04,4,628.16,219,2,20,0,Silver,3/16/2020,True,True,20.00,0
6,TXN7,11/23/2025,1,Shaan,183107617,6,Store_10,Bhilai,South,4/18/2016,128,Labore,Grocery,359.74,4,1438.96,83,19,15,50,Gold,2/27/2023,True,True,15.00,50
7,TXN8,6/10/2025,2,Shaan,1409359190,12,Store_10,Agra,South,11/13/2020,77,Expedita,Home,550.45,1,550.45,622,15,5,0,Silver,2/5/2024,True,True,5.00,0
8,TXN9,7/5/2025,2,Neysa,1409359190,4,Store_17,Mango,North,7/7/2021,44,Alias,Electronics,89.85,1,89.85,474,12,20,50,Gold,5/26/2023,True,True,20.00,50
9,TXN10,10/29/2025,2,Samaira,1409359190,13,Store_13,Bhatpara,West,4/6/2016,30,Architecto,Electronics,681.11,4,2724.44,566,7,10,100,Silver,6/20/2024,True,True,10.00,100

In [135]:
print(df.columns.tolist())

['transaction_id', 'transaction_date', 'customer_id', 'first_name', 'customer_phone', 'store_id', 'store_name', 'store_city', 'store_region', 'store_opening_date', 'product_id', 'product_name', 'product_category', 'unit_price', 'quantity', 'lineitem_amount', 'current_stock_level', 'promotion_id', 'discount_percentage', 'bonus_points', 'loyalty_status', 'customer_since', 'data_quality_flag']

In [139]:
import pandas as pd
import re

df = pd.read_csv("retail_clv.csv", low_memory = False)

def is_valid_phone(x):
    return bool(re.fullmatch(r"[6-9]\d{9}", str(x)))

def is_numeric(x):
    try:
        float(x)
        return True
    except:
        return False

def is_valid_percentage(x):
    try:
        x = float(x)
        return 0 <= x <= 100
    except:
        return False

def is_valid_date(x):
    try:
        pd.to_datetime(x)
        return True
    except:
        return False

# Rule-level flags
df["bad_phone"] = ~df["customer_phone"].apply(is_valid_phone)
df["bad_transaction_id"] = ~df["transaction_id"].apply(lambda x: str(x).isdigit())
df["bad_stock"] = ~df["current_stock_level"].apply(is_numeric)
df["bad_discount"] = ~df["discount_percentage"].apply(is_valid_percentage)
df["bad_bonus"] = ~df["bonus_points"].apply(is_numeric)
df["bad_store_opening_date"] = ~df["store_opening_date"].apply(is_valid_date)
df["bad_first_name"] = ~df["first_name"].apply(lambda x: isinstance(x, str))

# Overall faulty row
df["is_faulty"] = df[[
    "bad_phone",
    "bad_transaction_id",
    "bad_stock",
    "bad_discount",
    "bad_bonus",
    "bad_store_opening_date",
    "bad_first_name"
]].any(axis=1)

In [151]:
import pandas as pd

# Load data
df = pd.read_csv("retail_clv.csv", low_memory=False)

# Keep a copy for validation
df_check = df.copy()

# ---- DATE COLUMNS ----
date_cols = [
    "transaction_date",
    "store_opening_date",
    "customer_since"
]

for col in date_cols:
    if col in df_check.columns:
        df_check[col] = pd.to_datetime(df_check[col], errors="coerce")

# ---- NUMERIC COLUMNS ----
numeric_cols = [
    "customer_id",
    "customer_phone",
    "store_id",
    "product_id",
    "unit_price",
    "quantity",
    "lineitem_amount",
    "current_stock_level",
    "promotion_id",
    "bonus_points"
]

for col in numeric_cols:
    if col in df_check.columns:
        df_check[col] = pd.to_numeric(df_check[col], errors="coerce")

# ---- PERCENTAGE COLUMN ----
if "discount_percentage" in df_check.columns:
    df_check["discount_percentage"] = (
        df_check["discount_percentage"]
        .astype(str)
        .str.replace("%", "", regex=False)
    )
    df_check["discount_percentage"] = pd.to_numeric(
        df_check["discount_percentage"], errors="coerce"
    )

# ---- STRING COLUMNS ----
string_cols = [
    "transaction_id",
    "first_name",
    "store_name",
    "store_city",
    "store_region",
    "product_name",
    "product_category",
    "loyalty_status"
]

for col in string_cols:
    if col in df_check.columns:
        df_check[col] = df_check[col].astype("string")

# ---- BOOLEAN COLUMN ----
if "data_quality_flag" in df_check.columns:
    df_check["data_quality_flag"] = df_check["data_quality_flag"].astype("boolean")

# ---- DATATYPE VALIDITY FLAG ----
required_cols = date_cols + numeric_cols + ["discount_percentage"]

existing_required_cols = [c for c in required_cols if c in df_check.columns]

df["datatype_valid"] = df_check[existing_required_cols].notna().all(axis=1)

# ---- SPLIT TABLES ----
good_rows = df[df["datatype_valid"]].copy()
bad_rows = df[~df["datatype_valid"]].copy()

print("Total rows :", len(df))
print("Good rows  :", len(good_rows))
print("Bad rows   :", len(bad_rows))

Total rows : 39009
Good rows  : 38359
Bad rows   : 650

In [153]:
main_table = good_rows
main_table.shape

(38359, 24)

In [154]:
main_table.head()

,transaction_id,transaction_date,customer_id,first_name,customer_phone,store_id,store_name,store_city,store_region,store_opening_date,product_id,product_name,product_category,unit_price,quantity,lineitem_amount,current_stock_level,promotion_id,discount_percentage,bonus_points,loyalty_status,customer_since,data_quality_flag,datatype_valid
0,TXN1,6/18/2025,1,Shanaya,183107617,4,Store_20,Kalyan-Dombivli,West,12/12/2017,104,Placeat,Beauty,634.94,1,634.94,185,15,20,0,Silver,7/3/2021,True,True
1,TXN2,6/26/2025,1,Kaira,183107617,9,Store_8,Gulbarga,East,5/23/2019,69,Iste,Electronics,364.53,3,1093.59,895,8,5,0,Gold,10/11/2022,True,True
2,TXN3,9/15/2025,1,Miraya,183107617,13,Store_6,Kirari Suleman Nagar,North,4/7/2017,153,Quod,Electronics,732.20,3,2196.60,763,1,15,0,Silver,12/10/2023,True,True
3,TXN4,10/27/2025,1,Eva,183107617,15,Store_10,Bhavnagar,West,2/22/2016,196,Enim,Electronics,643.07,3,1929.21,851,17,10,0,Bronze,11/2/2020,True,True
4,TXN5,11/21/2025,1,Ivan,183107617,13,Store_29,Meerut,North,4/2/2023,72,Autem,Grocery,411.98,3,1235.94,745,4,5,50,Bronze,9/3/2024,True,True

In [230]:
faulty_rows = bad_rows
faulty_rows.shape

(650, 24)

In [157]:
faulty_rows.head(100)

,transaction_id,transaction_date,customer_id,first_name,customer_phone,store_id,store_name,store_city,store_region,store_opening_date,product_id,product_name,product_category,unit_price,quantity,lineitem_amount,current_stock_level,promotion_id,discount_percentage,bonus_points,loyalty_status,customer_since,data_quality_flag,datatype_valid
38359,T+2:593,7/1/2025,11,Amani,6055974288,16,Store_22,Satna,North,9/20/2023,90,Sapiente,Electronics,72.69,1,72.69,unknown,1,20,0,Gold,9/22/2021,False,False
38360,TXN199,7/20/2025,31,Samarth,9128666840,3,Store_5,Mirzapur,South,32-13-2023,175,Soluta,Beauty,530.42,3,1591.26,237,7,20,50,Silver,8/22/2024,False,False
38361,TXN264,11/10/2025,41,Indrans,7258673297,28,Store_22,Gulbarga,South,2/4/2019,15,Doloremque,Home,65.72,3,197.16,875,4,ten,0,Gold,9/17/2020,False,False
38362,TXN274,6/15/2025,42,Devansh,3884180123,27,Store_25,Dehri,West,10/19/2018,118,Ipsum,Grocery,527.93,1,527.93,751,11,ten,0,Bronze,8/13/2022,False,False
38363,TXN312,10/17/2025,48,Vritika,12345ABC,23,Store_22,Visakhapatnam,East,5/16/2022,94,Adipisci,Grocery,479.54,3,1438.62,795,19,5,0,Silver,3/27/2023,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
38454,TXN5019,1/15/2026,777,Farhan,9829992601,6,Store_15,Berhampore,East,32-13-2023,32,Esse,Beauty,385.14,4,1540.56,997,2,15,50,Silver,5/29/2020,False,False
38455,TXN5212,7/4/2025,807,Alia,995841115,27,Store_24,Muzaffarpur,West,32-13-2023,88,Reiciendis,Grocery,543.21,2,1086.42,295,19,15,50,Silver,11/12/2022,False,False
38456,TXN5220,12/1/2025,808,Madhup,8085131799,27,Store_4,Visakhapatnam,East,2/13/2021,199,Placeat,Fashion,213.02,2,426.04,911,8,10,fifty,Gold,1/26/2021,False,False
38457,TXN5263,11/29/2025,815,Kimaya,7996333851,27,Store_18,Jorhat,North,3/25/2023,132,Repudiandae,Beauty,66.85,3,200.55,135,15,20,fifty,Gold,9/1/2020,False,False
38458,TXN5287,7/24/2025,818,Arnav,9730594495,1,Store_6,Korba,North,2/4/2022,96,Odio,Beauty,616.96,4,2467.84,545,1,ten,50,Bronze,9/18/2023,False,False

In [158]:
data = main_table

In [172]:
df = data

In [173]:
print(data.columns.tolist())

['transaction_id', 'transaction_date', 'customer_id', 'first_name', 'customer_phone', 'store_id', 'store_name', 'store_city', 'store_region', 'store_opening_date', 'product_id', 'product_name', 'product_category', 'unit_price', 'quantity', 'lineitem_amount', 'current_stock_level', 'promotion_id', 'discount_percentage', 'bonus_points', 'loyalty_status', 'customer_since', 'data_quality_flag', 'datatype_valid', 'discount_percentage_num', 'bonus_points_num']

In [165]:
import sqlite3
import pandas as pd

conn = sqlite3.connect("retail.db")

In [249]:
stores = df[[
    "store_id",
    "store_name",
    "store_city",
    "store_region",
    "store_opening_date"
]].drop_duplicates()

stores.to_sql("stores", conn, if_exists="replace", index=False)
stores.to_csv("stores.csv", index=False)

In [251]:
products = df[[
    "product_id",
    "product_name",
    "product_category",
    "unit_price",
    "current_stock_level"
]].drop_duplicates()

products.to_sql("products", conn, if_exists="replace", index=False)
products.to_csv("products.csv", index=False)

In [252]:
customers = (
    df.groupby("customer_id")
    .agg(
        first_name=("first_name", "first"),
        customer_phone=("customer_phone", "first"),
        loyalty_status=("loyalty_status", "first"),
        customer_since=("customer_since", "first")
    )
    .reset_index()
)

customers.to_sql("customer_details", conn, if_exists="replace", index=False)
customers.to_csv("customers.csv", index=False)

In [254]:
sales_header = df[[
    "transaction_id",
    "transaction_date",
    "customer_id",
    "store_id",
    "data_quality_flag"
]].drop_duplicates()

sales_header.to_sql("store_sales_header", conn, if_exists="replace", index=False)
sales_header.to_csv("_header.csv", index=False)

In [174]:
line_items = df[[
    "transaction_id",
    "product_id",
    "promotion_id",
    "quantity",
    "lineitem_amount",
    "discount_percentage_num",
    "bonus_points_num"
]]

line_items.to_sql("store_sales_line_items", conn, if_exists="replace", index=False)

38359

In [178]:
import sqlite3
import pandas as pd

# =========================
# 0. Sanity check (optional but safe)
# =========================
print("Columns available:")
print(df.columns.tolist())

# =========================
# 1. Create SQLite connection
# =========================
conn = sqlite3.connect("retail.db")

# =========================
# 2. STORES table
# =========================
stores = df[[
    "store_id",
    "store_name",
    "store_city",
    "store_region",
    "store_opening_date"
]].drop_duplicates()

stores.to_sql("stores", conn, if_exists="replace", index=False)

# =========================
# 3. PRODUCTS table
# =========================
products = df[[
    "product_id",
    "product_name",
    "product_category",
    "unit_price",
    "current_stock_level"
]].drop_duplicates()

products.to_sql("products", conn, if_exists="replace", index=False)

# =========================
# 4. CUSTOMER DETAILS table
# =========================
customers = (
    df.groupby("customer_id")
    .agg(
        first_name=("first_name", "first"),
        customer_phone=("customer_phone", "first"),
        loyalty_status=("loyalty_status", "first"),
        customer_since=("customer_since", "first"),
        store_region=("store_region", "first")
    )
    .reset_index()
)

customers.to_sql("customer_details", conn, if_exists="replace", index=False)

# =========================
# 5. STORE SALES HEADER table
# (NO total_amount here  derived later)
# =========================
sales_header = df[[
    "transaction_id",
    "transaction_date",
    "customer_id",
    "store_id",
    "data_quality_flag"
]].drop_duplicates()

sales_header.to_sql("store_sales_header", conn, if_exists="replace", index=False)

# =========================
# 6. STORE SALES LINE ITEMS table
# =========================
line_items = df[[
    "transaction_id",
    "product_id",
    "promotion_id",
    "quantity",
    "lineitem_amount",
    "discount_percentage_num",
    "bonus_points_num"
]]

line_items.to_sql("store_sales_line_items", conn, if_exists="replace", index=False)

# =========================
# 7. VERIFY tables created
# =========================
tables = pd.read_sql(
    "SELECT name FROM sqlite_master WHERE type='table';",
    conn
)

print("\nSQLite tables created:")
print(tables)

# =========================
# 8. Quick verification join
# =========================
test_query = """
SELECT
    h.transaction_id,
    h.transaction_date,
    c.first_name,
    c.loyalty_status,
    s.store_name,
    SUM(l.lineitem_amount) AS total_amount
FROM store_sales_header h
JOIN customer_details c ON h.customer_id = c.customer_id
JOIN stores s ON h.store_id = s.store_id
JOIN store_sales_line_items l ON h.transaction_id = l.transaction_id
GROUP BY h.transaction_id
LIMIT 5;
"""

print("\nSample joined data:")
print(pd.read_sql(test_query, conn))

conn.close()

Columns available:
['transaction_id', 'transaction_date', 'customer_id', 'first_name', 'customer_phone', 'store_id', 'store_name', 'store_city', 'store_region', 'store_opening_date', 'product_id', 'product_name', 'product_category', 'unit_price', 'quantity', 'lineitem_amount', 'current_stock_level', 'promotion_id', 'discount_percentage', 'bonus_points', 'loyalty_status', 'customer_since', 'data_quality_flag', 'datatype_valid', 'discount_percentage_num', 'bonus_points_num']

SQLite tables created:
                     name
0       promotion_details
1                  stores
2                products
3        customer_details
4      store_sales_header
5  store_sales_line_items

Sample joined data:
  transaction_id transaction_date first_name loyalty_status store_name  \
0           TXN1        6/18/2025    Shanaya         Silver    Store_1
1          TXN10       10/29/2025      Shaan         Silver    Store_1
2         TXN100        1/13/2026       Zoya         Bronze    Store_1
3        TXN1000       12/14/2025      Shalv         Silver    Store_1
4       TXN10000        7/26/2025      Samar           Gold    Store_1

   total_amount
0     840660.56
1    3702513.96
2     324088.72
3    1054120.00
4    2878746.72

In [243]:
query = """
SELECT
    promotion_id,
    SUM(lineitem_amount) AS total_revenue,
    AVG(discount_percentage_num) AS avg_discount
FROM store_sales_line_items
GROUP BY promotion_id;
"""

result = pd.read_sql(query, conn)
result

    promotion_id  total_revenue  avg_discount
0              1     2124589.59         12.60
1              2     2079413.04         12.22
2              3     2277666.03         12.80
3              4     2068275.96         12.71
4              5     2011733.05         12.52
5              6     2127067.39         12.34
6              7     2104532.39         12.79
7              8     2181193.95         12.64
8              9     2093900.70         12.72
9             10     2249881.97         12.50
10            11     2226440.88         12.52
11            12     2217920.42         12.59
12            13     2078778.06         12.74
13            14     2185763.85         12.58
14            15     2164491.07         12.61
15            16     2056851.96         12.44
16            17     2194493.16         12.55
17            18     2133553.84         12.57
18            19     2139840.78         12.70

In [192]:
conn = sqlite3.connect("retail.db")
pd.read_sql("SELECT name FROM sqlite_master WHERE type='table'", conn)

                     name
0       promotion_details
1                  stores
2                products
3        customer_details
4      store_sales_header
5  store_sales_line_items

In [244]:
query = """
SELECT
    promotion_id,
    SUM(lineitem_amount) AS total_revenue
FROM store_sales_line_items
GROUP BY promotion_id
ORDER BY total_revenue DESC;
"""

pd.read_sql(query, conn)

    promotion_id  total_revenue
0              3     2277666.03
1             10     2249881.97
2             11     2226440.88
3             12     2217920.42
4             17     2194493.16
5             14     2185763.85
6              8     2181193.95
7             15     2164491.07
8             19     2139840.78
9             18     2133553.84
10             6     2127067.39
11             1     2124589.59
12             7     2104532.39
13             9     2093900.70
14             2     2079413.04
15            13     2078778.06
16             4     2068275.96
17            16     2056851.96
18             5     2011733.05

In [247]:
query = """
SELECT
    promotion_id,
    AVG(discount_percentage_num) AS avg_discount,
    SUM(lineitem_amount) AS revenue
FROM store_sales_line_items
WHERE discount_percentage_num IS NOT NULL
GROUP BY promotion_id
HAVING SUM(lineitem_amount) > 30000
LIMIT 5;
"""

pd.read_sql(query, conn)

   promotion_id  avg_discount    revenue
0             1         12.60 2124589.59
1             2         12.22 2079413.04
2             3         12.80 2277666.03
3             4         12.71 2068275.96
4             5         12.52 2011733.05

In [180]:
pd.read_sql("SELECT * FROM stores LIMIT 10;", conn)

   store_id store_name            store_city store_region store_opening_date
0         4   Store_20       Kalyan-Dombivli         West         12/12/2017
1         9    Store_8              Gulbarga         East          5/23/2019
2        13    Store_6  Kirari Suleman Nagar        North           4/7/2017
3        15   Store_10             Bhavnagar         West          2/22/2016
4        13   Store_29                Meerut        North           4/2/2023
5         5    Store_4                 Eluru        South           2/3/2020
6         6   Store_10                Bhilai        South          4/18/2016
7        12   Store_10                  Agra        South         11/13/2020
8         4   Store_17                 Mango        North           7/7/2021
9        13   Store_13              Bhatpara         West           4/6/2016

In [181]:
pd.read_sql("SELECT * FROM products LIMIT 10;", conn)

   product_id product_name product_category  unit_price current_stock_level
0         104      Placeat           Beauty      634.94                 185
1          69         Iste      Electronics      364.53                 895
2         153         Quod      Electronics      732.20                 763
3         196         Enim      Electronics      643.07                 851
4          72        Autem          Grocery      411.98                 745
5          68         Enim             Home      157.04                 219
6         128       Labore          Grocery      359.74                  83
7          77     Expedita             Home      550.45                 622
8          44        Alias      Electronics       89.85                 474
9          30   Architecto      Electronics      681.11                 566

In [182]:
pd.read_sql("SELECT * FROM customer_details LIMIT 10;", conn)

,customer_id,first_name,customer_phone,loyalty_status,customer_since,store_region
0,1,Shanaya,183107617,Silver,7/3/2021,West
1,2,Shaan,1409359190,Silver,2/5/2024,South
2,3,Stuvan,2223788001,Bronze,4/10/2020,East
3,4,Onkar,79133208,Gold,5/28/2024,North
4,5,Dharmajan,3502802171,Silver,3/8/2023,East
5,6,Hansh,5489555705,Bronze,3/23/2023,East
6,7,Dharmajan,2963444382,Gold,1/1/2022,North
7,8,Sahil,9632143284,Bronze,1/25/2024,East
8,9,Yakshit,772206944,Bronze,1/30/2022,South
9,10,Sara,344656343,Bronze,4/14/2023,West

In [183]:
pd.read_sql("SELECT * FROM store_sales_header LIMIT 10;", conn)

  transaction_id transaction_date  customer_id  store_id  data_quality_flag
0           TXN1        6/18/2025            1         4                  1
1           TXN2        6/26/2025            1         9                  1
2           TXN3        9/15/2025            1        13                  1
3           TXN4       10/27/2025            1        15                  1
4           TXN5       11/21/2025            1        13                  1
5           TXN6        8/14/2025            1         5                  1
6           TXN7       11/23/2025            1         6                  1
7           TXN8        6/10/2025            2        12                  1
8           TXN9         7/5/2025            2         4                  1
9          TXN10       10/29/2025            2        13                  1

In [248]:
import pandas as pd
import sqlite3

conn = sqlite3.connect("retail.db")

queries = {
    "stores_sales_summary.csv": """
        SELECT
            promotion_id,
            SUM(lineitem_amount) AS total_revenue,
            AVG(discount_percentage_num) AS avg_discount
        FROM store_sales_line_items
        GROUP BY promotion_id;
    """,

    "top_promotions.csv": """
        SELECT
            promotion_id,
            SUM(lineitem_amount) AS total_revenue
        FROM store_sales_line_items
        GROUP BY promotion_id
        ORDER BY total_revenue DESC;
    """,

    "product_promotion_sales.csv": """
        SELECT
            promotion_id,
            product_id,
            SUM(lineitem_amount) AS revenue
        FROM store_sales_line_items
        GROUP BY promotion_id, product_id;
    """,

    "discount_bucket_revenue.csv": """
        SELECT
            CASE
                WHEN discount_percentage_num = 0 THEN 'No Discount'
                WHEN discount_percentage_num <= 10 THEN 'Low Discount'
                WHEN discount_percentage_num <= 20 THEN 'Medium Discount'
                ELSE 'High Discount'
            END AS discount_bucket,
            SUM(lineitem_amount) AS revenue
        FROM store_sales_line_items
        GROUP BY discount_bucket;
    """,

    "promotion_lineitem_count.csv": """
        SELECT
            promotion_id,
            COUNT(*) AS line_item_count
        FROM store_sales_line_items
        GROUP BY promotion_id;
    """
}

for file_name, query in queries.items():
    df_out = pd.read_sql(query, conn)
    df_out.to_csv(file_name, index=False)

print(" All analytical tables saved as CSV files")

 All analytical tables saved as CSV files

In [184]:
pd.read_sql("SELECT * FROM store_sales_line_items LIMIT 10;", conn)

,transaction_id,product_id,promotion_id,quantity,lineitem_amount,discount_percentage_num,bonus_points_num
0,TXN1,104,15,1,634.94,20.00,0
1,TXN2,69,8,3,1093.59,5.00,0
2,TXN3,153,1,3,2196.60,15.00,0
3,TXN4,196,17,3,1929.21,10.00,0
4,TXN5,72,4,3,1235.94,5.00,50
5,TXN6,68,2,4,628.16,20.00,0
6,TXN7,128,19,4,1438.96,15.00,50
7,TXN8,77,15,1,550.45,5.00,0
8,TXN9,44,12,1,89.85,20.00,50
9,TXN10,30,7,4,2724.44,10.00,100

In [185]:
pd.read_sql("PRAGMA table_info(store_sales_header);", conn)

   cid               name     type  notnull dflt_value  pk
0    0     transaction_id     TEXT        0       None   0
1    1   transaction_date     TEXT        0       None   0
2    2        customer_id  INTEGER        0       None   0
3    3           store_id  INTEGER        0       None   0
4    4  data_quality_flag  INTEGER        0       None   0

In [186]:
tables = [
    "stores",
    "products",
    "customer_details",
    "promotion_details",
    "store_sales_header",
    "store_sales_line_items"
]

for t in tables:
    count = pd.read_sql(f"SELECT COUNT(*) as cnt FROM {t}", conn)
    print(f"{t}: {count['cnt'][0]}")

stores: 38359
products: 38359
customer_details: 6000
promotion_details: 76
store_sales_header: 38359
store_sales_line_items: 38359

In [187]:
data["customer_id"].nunique()

6000

In [188]:
txn_per_customer = df.groupby("customer_id")["transaction_id"].nunique()

In [189]:
txn_per_customer.mean()

np.float64(6.393166666666667)

In [195]:
df.columns.tolist()

['transaction_id',
 'transaction_date',
 'customer_id',
 'first_name',
 'customer_phone',
 'store_id',
 'store_name',
 'store_city',
 'store_region',
 'store_opening_date',
 'product_id',
 'product_name',
 'product_category',
 'unit_price',
 'quantity',
 'lineitem_amount',
 'current_stock_level',
 'promotion_id',
 'discount_percentage',
 'bonus_points',
 'loyalty_status',
 'customer_since',
 'data_quality_flag',
 'datatype_valid',
 'discount_percentage_num',
 'bonus_points_num']

In [196]:
df.head()

,transaction_id,transaction_date,customer_id,first_name,customer_phone,store_id,store_name,store_city,store_region,store_opening_date,product_id,product_name,product_category,unit_price,quantity,lineitem_amount,current_stock_level,promotion_id,discount_percentage,bonus_points,loyalty_status,customer_since,data_quality_flag,datatype_valid,discount_percentage_num,bonus_points_num
0,TXN1,6/18/2025,1,Shanaya,183107617,4,Store_20,Kalyan-Dombivli,West,12/12/2017,104,Placeat,Beauty,634.94,1,634.94,185,15,20,0,Silver,7/3/2021,True,True,20.00,0
1,TXN2,6/26/2025,1,Kaira,183107617,9,Store_8,Gulbarga,East,5/23/2019,69,Iste,Electronics,364.53,3,1093.59,895,8,5,0,Gold,10/11/2022,True,True,5.00,0
2,TXN3,9/15/2025,1,Miraya,183107617,13,Store_6,Kirari Suleman Nagar,North,4/7/2017,153,Quod,Electronics,732.20,3,2196.60,763,1,15,0,Silver,12/10/2023,True,True,15.00,0
3,TXN4,10/27/2025,1,Eva,183107617,15,Store_10,Bhavnagar,West,2/22/2016,196,Enim,Electronics,643.07,3,1929.21,851,17,10,0,Bronze,11/2/2020,True,True,10.00,0
4,TXN5,11/21/2025,1,Ivan,183107617,13,Store_29,Meerut,North,4/2/2023,72,Autem,Grocery,411.98,3,1235.94,745,4,5,50,Bronze,9/3/2024,True,True,5.00,50

In [198]:
import pandas as pd
import numpy as np

# Load model-ready dataset
data = pd.read_csv("retail_clv.csv", low_memory = False)

# Keep only required columns
data = data[[
    "customer_id",
    "customer_phone",
    "customer_since",
    "transaction_date",
    "lineitem_amount",
    "quantity",
    "product_id",
    "product_name",
    "product_category",
    "loyalty_status",
    "store_name",
    "store_city",
    "store_region"
]].copy()

# Parse date
data["transaction_date"] = pd.to_datetime(data["transaction_date"])

In [199]:
df.shape

(38359, 26)

In [200]:
df.describe()

,customer_id,store_id,product_id,unit_price,quantity,lineitem_amount,promotion_id,discount_percentage_num,bonus_points_num
count,38359.00,38359.00,38359.00,38359.00,38359.00,38359.00,38359.00,38359.00,38359.00
mean,3003.90,14.93,100.18,425.95,2.50,1061.46,10.02,12.59,50.05
std,1731.29,8.36,57.47,216.57,1.12,759.41,5.46,5.60,40.95
min,1.00,1.00,1.00,50.01,1.00,50.01,1.00,5.00,0.00
25%,1506.00,8.00,50.00,238.84,1.00,458.48,5.00,10.00,0.00
50%,3004.00,15.00,101.00,424.27,2.00,824.72,10.00,15.00,50.00
75%,4503.00,22.00,150.00,614.71,3.00,1517.82,15.00,20.00,100.00
max,6000.00,29.00,199.00,800.00,4.00,3199.76,19.00,20.00,100.00

In [201]:
import pandas as pd
import numpy as np

pd.set_option("display.max_columns", None)
pd.set_option("display.float_format", "{:.2f}".format)

In [202]:
# Convert date columns
data["transaction_date"] = pd.to_datetime(data["transaction_date"])
data["customer_since"] = pd.to_datetime(data["customer_since"])

In [203]:
# Check missing values
data.isna().sum()

customer_id         0
customer_phone      0
customer_since      0
transaction_date    0
lineitem_amount     0
quantity            0
product_id          0
product_name        0
product_category    0
loyalty_status      0
store_name          0
store_city          0
store_region        0
dtype: int64

In [204]:
data = data.drop_duplicates()

In [205]:
cutoff_date = data["transaction_date"].max() - pd.Timedelta(days=30)
cutoff_date

Timestamp('2026-01-04 00:00:00')

In [206]:
past_txns = data[data["transaction_date"] <= cutoff_date].copy()
future_txns = data[data["transaction_date"] > cutoff_date].copy()

In [209]:
future_spend = (
    future_txns
    .groupby("customer_id")["lineitem_amount"]
    .sum()
    .reset_index()
    .rename(columns={"lineitem_amount": "future_spend_30d"})
)

In [210]:
rfm = past_txns.groupby("customer_id").agg(
    recency_days = (
        "transaction_date",
        lambda x: (cutoff_date - x.max()).days
    ),
    frequency_90d = (
        "transaction_date",
        lambda x: (x >= cutoff_date - pd.Timedelta(days=90)).sum()
    ),
    monetary_90d = (
        "lineitem_amount",
        lambda x: x[x.index].sum()
    ),
    avg_order_value = (
        "lineitem_amount",
        "mean"
    )
).reset_index()

In [211]:
qty_features = past_txns.groupby("customer_id").agg(
    avg_quantity = ("quantity", "mean"),
    total_quantity = ("quantity", "sum")
).reset_index()

In [212]:
category_spend = (
    past_txns
    .groupby(["customer_id", "product_category"])["lineitem_amount"]
    .sum()
    .unstack(fill_value=0)
)

category_spend.columns = [f"spend_cat_{c}" for c in category_spend.columns]
category_spend.reset_index(inplace=True)

In [215]:
customer_attr = (
    data.groupby("customer_id")
    .agg(
        loyalty_status=("loyalty_status", "first"),
        store_region=("store_region", "first"),
        customer_since=("customer_since", "first")
    )
    .reset_index()
)

In [216]:
customer_attr["customer_tenure_days"] = (
    cutoff_date - customer_attr["customer_since"]
).dt.days

customer_attr.drop(columns=["customer_since"], inplace=True)

In [217]:
model_df = (
    rfm
    .merge(qty_features, on="customer_id", how="left")
    .merge(category_spend, on="customer_id", how="left")
    .merge(customer_attr, on="customer_id", how="left")
    .merge(future_spend, on="customer_id", how="left")
)

In [218]:
model_df["future_spend_30d"] = model_df["future_spend_30d"].fillna(0)

In [219]:
model_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6000 entries, 0 to 5999
Data columns (total 16 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   customer_id            6000 non-null   int64
 1   recency_days           6000 non-null   int64
 2   frequency_90d          6000 non-null   int64
 3   monetary_90d           6000 non-null   float64
 4   avg_order_value        6000 non-null   float64
 5   avg_quantity           6000 non-null   float64
 6   total_quantity         6000 non-null   int64
 7   spend_cat_Beauty       6000 non-null   float64
 8   spend_cat_Electronics  6000 non-null   float64
 9   spend_cat_Fashion      6000 non-null   float64
 10  spend_cat_Grocery      6000 non-null   float64
 11  spend_cat_Home         6000 non-null   float64
 12  loyalty_status         6000 non-null   object
 13  store_region           6000 non-null   object
 14  customer_tenure_days   6000 non-null   int64
 15  future_spend_30d       6000 non-null   float64
dtypes: float64(9), int64(5), object(2)
memory usage: 750.1+ KB

In [220]:
model_df.head()

,customer_id,recency_days,frequency_90d,monetary_90d,avg_order_value,avg_quantity,total_quantity,spend_cat_Beauty,spend_cat_Electronics,spend_cat_Fashion,spend_cat_Grocery,spend_cat_Home,loyalty_status,store_region,customer_tenure_days,future_spend_30d
0,1,42,3,9157.40,1308.20,3.00,21,634.94,5219.40,0.00,2674.90,628.16,Silver,West,1646,0.00
1,2,64,2,7220.92,1031.56,1.71,12,1862.56,4807.91,0.00,0.00,550.45,Silver,South,699,0.00
2,3,10,3,5388.69,898.12,2.00,12,0.00,2662.98,692.73,0.00,2032.98,Bronze,East,2095,0.00
3,4,15,4,6480.11,1080.02,2.33,14,2836.90,315.88,515.82,2811.51,0.00,Gold,North,586,0.00
4,5,4,2,2336.12,467.22,1.80,9,0.00,0.00,0.00,1107.76,1228.36,Silver,East,1033,572.54

In [221]:
print("Customers:", model_df["customer_id"].nunique())
print("Target mean:", model_df["future_spend_30d"].mean())
print("Target median:", model_df["future_spend_30d"].median())
print("Zero future spend %:",
      (model_df["future_spend_30d"] == 0).mean() * 100)

Customers: 6000
Target mean: 841.3238366666666
Target median: 365.70000000000005
Zero future spend %: 42.583333333333336

In [222]:
model_df.head()

,customer_id,recency_days,frequency_90d,monetary_90d,avg_order_value,avg_quantity,total_quantity,spend_cat_Beauty,spend_cat_Electronics,spend_cat_Fashion,spend_cat_Grocery,spend_cat_Home,loyalty_status,store_region,customer_tenure_days,future_spend_30d
0,1,42,3,9157.40,1308.20,3.00,21,634.94,5219.40,0.00,2674.90,628.16,Silver,West,1646,0.00
1,2,64,2,7220.92,1031.56,1.71,12,1862.56,4807.91,0.00,0.00,550.45,Silver,South,699,0.00
2,3,10,3,5388.69,898.12,2.00,12,0.00,2662.98,692.73,0.00,2032.98,Bronze,East,2095,0.00
3,4,15,4,6480.11,1080.02,2.33,14,2836.90,315.88,515.82,2811.51,0.00,Gold,North,586,0.00
4,5,4,2,2336.12,467.22,1.80,9,0.00,0.00,0.00,1107.76,1228.36,Silver,East,1033,572.54

model_df = df

In [223]:
from sklearn.model_selection import train_test_split

# Separate features and target
X = model_df.drop(columns=["customer_id", "future_spend_30d"])
y = model_df["future_spend_30d"]

# Identify categorical & numerical columns
cat_cols = X.select_dtypes(include="object").columns.tolist()
num_cols = X.select_dtypes(exclude="object").columns.tolist()

# Train-test split
X_train, X_test, y_train, y_test = train_test_split(
    X,
    y,
    test_size=0.2,
    random_state=42
)

In [224]:
from sklearn.preprocessing import OneHotEncoder, StandardScaler
from sklearn.compose import ColumnTransformer
from sklearn.pipeline import Pipeline

preprocessor = ColumnTransformer(
    transformers=[
        ("cat", OneHotEncoder(handle_unknown="ignore"), cat_cols),
        ("num", StandardScaler(), num_cols)
    ]
)

In [225]:
# linear reg

from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_absolute_error, r2_score

lr_model = Pipeline(steps=[
    ("preprocessor", preprocessor),
    ("model", LinearRegression())
])

lr_model.fit(X_train, y_train)
lr_preds = lr_model.predict(X_test)

print("Linear Regression")
print("MAE:", mean_absolute_error(y_test, lr_preds))
print("R2 :", r2_score(y_test, lr_preds))

Linear Regression
MAE: 638.0966190370009
R2 : 0.4406302019521462

In [226]:
# random forest
from sklearn.ensemble import RandomForestRegressor

rf_model = Pipeline(steps=[
    ("preprocessor", preprocessor),
    ("model", RandomForestRegressor(
        n_estimators=200,
        max_depth=10,
        random_state=42,
        n_jobs=-1
    ))
])

rf_model.fit(X_train, y_train)
rf_preds = rf_model.predict(X_test)

print("Random Forest")
print("MAE:", mean_absolute_error(y_test, rf_preds))
print("R2 :", r2_score(y_test, rf_preds))

Random Forest
MAE: 591.911357418364
R2 : 0.4361325132507241

In [227]:
from sklearn.ensemble import GradientBoostingRegressor

gb_model = Pipeline(steps=[
    ("preprocessor", preprocessor),
    ("model", GradientBoostingRegressor(
        n_estimators=200,
        learning_rate=0.05,
        max_depth=3,
        random_state=42
    ))
])

gb_model.fit(X_train, y_train)
gb_preds = gb_model.predict(X_test)

print("Gradient Boosting")
print("MAE:", mean_absolute_error(y_test, gb_preds))
print("R2 :", r2_score(y_test, gb_preds))

Gradient Boosting
MAE: 599.514921087515
R2 : 0.445481943383898

In [233]:
from sklearn.linear_model import ElasticNet

enet_model = Pipeline(steps=[
    ("preprocessor", preprocessor),
    ("model", ElasticNet(alpha=0.1, l1_ratio=0.5, random_state=42))
])

enet_model.fit(X_train, y_train)
enet_preds = enet_model.predict(X_test)

print("ElasticNet")
print("MAE:", mean_absolute_error(y_test, enet_preds))
print("R2 :", r2_score(y_test, enet_preds))

ElasticNet
MAE: 639.5565728709014
R2 : 0.4267021910372756

In [236]:
models_extended = {
    "Linear Regression": lr_preds,
    "Random Forest": rf_preds,
    "Gradient Boosting": gb_preds,
    "ElasticNet": enet_preds,
}

results = []

for name, preds in models_extended.items():
    results.append({
        "Model": name,
        "MAE": mean_absolute_error(y_test, preds),
        "R2": r2_score(y_test, preds)
    })

results_df = pd.DataFrame(results).sort_values(
    by=["R2", "MAE"],
    ascending=[False, True]
)

display(results_df)

               Model    MAE   R2
2  Gradient Boosting 599.51 0.45
0  Linear Regression 638.10 0.44
1      Random Forest 591.91 0.44
3         ElasticNet 639.56 0.43

In [238]:
import pandas as pd
import numpy as np
from sklearn.metrics import mean_absolute_error, r2_score

# Store results
results = []

models = {
    "Linear Regression": (lr_model, lr_preds),
    "Random Forest": (rf_model, rf_preds),
    "ElasticNet": (enet_model,enet_preds),
    "Gradient Boosting": (gb_model, gb_preds)
}

# Evaluate each model
for name, (model, preds) in models.items():
    mae = mean_absolute_error(y_test, preds)
    r2 = r2_score(y_test, preds)
    results.append({
        "Model": name,
        "MAE": mae,
        "R2": r2
    })

# Create comparison table
results_df = pd.DataFrame(results).sort_values(by="R2", ascending=False)

print(" Model Comparison:")
display(results_df)

# Select best model (highest R2, tie-breaker = lower MAE)
best_model_row = results_df.sort_values(
    by=["R2", "MAE"], ascending=[False, True]
).iloc[0]

print("\n Best Model Selected:")
print(f"Model: {best_model_row['Model']}")
print(f"R2   : {best_model_row['R2']:.4f}")
print(f"MAE  : {best_model_row['MAE']:.2f}")

 Model Comparison:

               Model    MAE   R2
3  Gradient Boosting 599.51 0.45
0  Linear Regression 638.10 0.44
1      Random Forest 591.91 0.44
2         ElasticNet 639.56 0.43

 Best Model Selected:
Model: Gradient Boosting
R2   : 0.4455
MAE  : 599.51

In [239]:
import joblib

joblib.dump(lr_model, "lr_model.pkl")
joblib.dump(rf_model, "rf_model.pkl")
joblib.dump(gb_model, "gb_model.pkl")

['gb_model.pkl']

In [240]:
!pip freeze > requirements.txt